<h2>Search for Jobs!</h2>

<form action="/searches" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3><label>Companies</label></h3>
  <%= render partial: 'companies/form', locals: { companies: @companies } %>
  <h3><label>Categories</label></h3>
  <%= render partial: 'categories/form' %>
  <p><input type="submit" value="Submit"></p>
</form>