<%= link_to 'Back', root_url %>

<h2>Your Search Returned -- Results!</h2>
<% if '--'.to_i > 20 %>
  <h3>Here are the first 20:</h3>
<% end %>

<% @job_results.each do |job| %>
  <strong>Job Title: <%= job.title %></strong><br>
  <a href="<%= job.landing_page %>" target="_blank">View Position</a><br>
  Company: <%= job.company_name %><br>
  <p></p>
<% end %>