<h3>Here are your search results!</h3>

Companies: <%= @search.company_list %><br>
Categories: <%= @search.category_list %><br>
Levels: <%= @search.level_list %><br>
Locations: <%= @search.location_list %><br>