<table>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="account_management">Account Management</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="business_and_strategy">Business & Strategy</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="creative_and_design">Creative & Design</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="customer_service">Customer Service</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="data_science">Data Science</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="editorial">Editorial</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="education">Education</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="engineering">Engineering</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="finance">Finance</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="fundraising_and_development">Fundraising & Development</label></td>
  </tr>
  <tr>
      <td><label><input type="checkbox" name="search[categories][]" value="healthcare_and_medicine">Healthcare & Medicine</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="hr_and_recruiting">HR & Recruiting</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="legal">Legal</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="marketing_and_pr">Marketing & PR</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="operations">Operations</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="project_and_product_management">Project and Product Management</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="retail">Retail</label></td>
    <td><label><input type="checkbox" name="search[categories][]" value="sales">Sales</label></td>
  </tr>
  <tr>
    <td><label><input type="checkbox" name="search[categories][]" value="social_media_and_community">Social Media & Community</label></td>
  </tr>
</table>
